body{
    background-color: #1a1b3c;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 105vh;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;


}

.skillsContainer{

    grid-column-start: 4;
    grid-row-start: 1;
    background: #230237;
    border-radius: 10px;
    width: 800px;
    padding: 15px;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    grid-column-end: -1;
    box-shadow:
    0 0 10px rgba(123, 31, 204, 0.7),
    0 0 20px rgba(123, 31, 204, 0.7),
    0 0 30px rgba(123, 31, 204, 0.7),
    0 0 40px rgba(123, 31, 204, 0.7),
    0 0 50px rgba(123, 31, 204, 0.7),
    0 0 60px rgba(123, 31, 204, 0.7);
  transition: box-shadow 0.3s ease-in-out;

}

.skills-container{
    width: 400px;
    height: 450px;

}

.skillsText{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 25px;
    margin-left: 80px;

}

.projectsGraph{

    grid-column-start: 4;
    grid-row-start: 3;
    background: #230237;
    border-radius: 10px;
    display: flex;
    width: 800px;
    height: 400px;
    padding: 15px;
    color: white;
    grid-column-end: -1;
    box-shadow:
    0 0 10px rgba(123, 31, 204, 0.7),
    0 0 20px rgba(123, 31, 204, 0.7),
    0 0 30px rgba(123, 31, 204, 0.7),
    0 0 40px rgba(123, 31, 204, 0.7),
    0 0 50px rgba(123, 31, 204, 0.7),
    0 0 60px rgba(123, 31, 204, 0.7);
  transition: box-shadow 0.3s ease-in-out;
}

.bar{
   fill: #944dd1;
   cursor: pointer;
}

.SignInForm {
    background-color: #7b1fccc9;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    padding-top: 5rem;
    box-shadow:
      0 0 10px rgba(123, 31, 204, 0.7),


      0 0 40px rgba(44, 6, 76, 0.7),
      0 0 50px rgba(123, 31, 204, 0.7),
      0 0 60px rgba(123, 31, 204, 0.7);
    transition: box-shadow 0.3s ease-in-out;
  }


.SignInForm input{
height: 30px;
width: 80%;
margin-bottom: 20px;
border-radius: 10px;
border: transparent;
padding-left: 10px;
box-shadow:
0 0 10px rgba(123, 31, 204, 0.7),
0 0 20px rgba(123, 31, 204, 0.7),
0 0 30px rgba(123, 31, 204, 0.7),
0 0 40px rgba(123, 31, 204, 0.7),
0 0 50px rgba(123, 31, 204, 0.7),
0 0 60px rgba(123, 31, 204, 0.7);
transition: box-shadow 0.3s ease-in
}


.SignInForm input:focus{
outline :none;
}


.SignInForm button{
height: 30px;
margin-top: 5rem;
width: 80%;
border: transparent;
border-radius: 5px;
cursor: pointer;
transition: all 0.2s ease-in-out;

}


.SignInForm button:hover{
    transform: translateY(-4px);

    }

    .loginErr{
        font-size: 18px;
        color: rgb(239, 9, 9);
    }

    .signInWrapper{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .infoWrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 2rem 8rem;
    }

    .userInfoWrapper{
        background: #230237;
        border-radius: 10px;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;
        margin-right: 2.5rem;
        grid-row-end: 4;
        padding: 25px;
        color: white;
        font-size: 25px;

        box-shadow:
        0 0 10px rgba(123, 31, 204, 0.7),
        0 0 20px rgba(123, 31, 204, 0.7),
        0 0 30px rgba(123, 31, 204, 0.7),
        0 0 40px rgba(123, 31, 204, 0.7),
        0 0 50px rgba(123, 31, 204, 0.7),
        0 0 60px rgba(123, 31, 204, 0.7);
      transition: box-shadow 0.3s ease-in-out;
    }

    .userInfoWrapper div{
        margin-top: 10px;
    }

    .projectsDiv{
        border-radius: 10px;
        overflow: auto;
        max-height: 600px;

    }

    .projectsDiv::-webkit-scrollbar {
        display: none;
    }


    .projectContainer{
        font-size: 18px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
    }

    .logoutBtn{
        position: absolute;
        top: 10px;
        right: 30px;
        border: transparent;

        padding: 6px;
        font-size: 14px;
        color: white;

        cursor: pointer;
        background-color: rgb(30, 3, 53);
        border-radius: 10px;

        box-shadow:
        0 0 10px rgba(123, 31, 204, 0.7),
        0 0 20px rgba(123, 31, 204, 0.7),
        0 0 30px rgba(123, 31, 204, 0.7),
        0 0 40px rgba(123, 31, 204, 0.7),
        0 0 50px rgba(123, 31, 204, 0.7),
        0 0 60px rgba(123, 31, 204, 0.7);
      transition: box-shadow 0.3s ease-in-out;
    }

    .logoutBtn:hover{
        box-shadow:none
    }